* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

p {
    padding: 2px 2px;
}

/* ************************************************************************ */
.headline{
    background-color:#0ae9e9;
    padding: 10px; /* 内边距 */
}

/* 导航链接样式 */
.headline a {
    color:#f0f8ff; /* 链接文本颜色 */
    text-decoration: none; /* 去除下划线 */
    padding: 10px 10px; /* 链接内边距 */
    margin: 0 5px; /* 链接之间的外边距 */
    font-weight: bold; /* 字体加粗 */
    transition: background-color 0.3s; /* 添加背景颜色过渡效果 */
}


/* ************************************************************************ */
.onPCFont{
    width: 65%;
    margin: 0 auto;
    padding-top: 2px;
    background-color: rgb(234, 229, 217);
    box-shadow: 2px 2px 2px #ddd;
}
.onPCFont div {
    width: 90%;
    margin: 0 auto;
    font-family:STSong;
    font-size:18px;
}

.onMobileFont{
    width: 95%;
    margin: 0 auto;
    padding-top: 2px;
    background-color: rgb(234, 229, 217);
    box-shadow: #ddd;
}
.onMobileFont div {
    width: 95%;
    margin: 0 auto;
    font-family: STSong;
    font-size: 18px;
}

.read_page {
    background-color: rgb(242, 238, 229);
}


/* ************************************************************************ */
/* 滑动图片展示 */
#slider {
    overflow: hidden;
    width: 80%;
    margin: auto;
    position: relative;
}

#slider img {
    width: 50%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
}

#slider p {
    padding: 10px 10px; /* 链接内边距 */
    margin: 0 5px; /* 链接之间的外边距 */
    font-weight: bold; /* 字体加粗 */
}

#slides {
    display: flex;
    /* 设置垂直居中 */
    text-align: center;

    transition: transform 0.5s ease-in-out;
}

.slide {
    display: grid;
    place-items: center;
    min-width: 100%;
    box-sizing: border-box;
}

#prev, #next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}